<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a *ngIf="!loginUser" class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Register</a>
    <a *ngIf="!loginUser" class="nav-item nav-link" routerLink="/login" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Login</a>
    <a *ngIf="loginUser" class="nav-item nav-link" routerLink="/home" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a *ngIf="loginUser" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a *ngIf="loginUser" class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">login</a>
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>